
$black: #060407;
$oatmeal: #fcf8ea;
$green: #66c068;
$gray: #bfc3a6;
$border: 1px solid $oatmeal;

body {
	background-color: $gray;
	text-align: center;
}

.headerContainer {
	border: $border;
	background-color: $oatmeal;
	border: 3px solid $gray;
	h1{
		color: #060407;
		text-shadow: 2px 2px  $green;
	}
}

#tableContain{
	padding: 0;
	margin-top: 50px;
	background-color: $oatmeal;
	border: $border;
	height: 100%;
	#tableChamps {
		border: $border;
		background-color: $green;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.btn {
	margin-top: 0;
}

.table {
	margin-bottom: 0;
	#titleColumns{
		th {
			border: 1px solid $gray;
			font: 20px;
		}

	}
	tr {
		border: 1px solid $gray;
	}
}

img {
	width: 30px;
	height: 30px;
	display: table-row;
}